/* The body, contents and headings for every page below this line */

body { 
    background-color: #ffe3de;
	font-family: 'Montserrat', sans-serif;
	margin: 0%;
	padding: 0;
	
}

.content {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #03596f;
	border-left: 7px solid #03506f;
	padding-left: 20px;
}

.description {
	text-align: center;
}

.headers {
	font-size: 35px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	color: #03506f;
}

/* The nagivation menu/bar styling below this line */

.menu{
	list-style-type: none;
	margin: 25px 0;
	/* padding-bottom: 50px; */
	height: 100px;
	text-align: center;
	/* border: 1px solid black; */
}

.menu img {
    position: relative;
    top: 40px;
    /* margin-right: 30%; */
    border: 2px solid #03506f;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-top: -50px;
}

.menu li {
	display: inline-block;
}

.menu li a {
	text-decoration: none;
	color: #0a043c;
	font-size: 22px;
	margin: auto 10px;
}

.menu li a:hover {
	border-bottom: 2px solid #9F5F80;
	
} 

.menu .current {
	background-color: #9F5F80;
	color: #fff;
	border-radius: 3px;
	padding: 5px;
}

/* The home page contents below this line */

.banner {
	position: relative;
}

.banner img {
	width: 100%;
	height: 350px;
	filter: blur(1px);
}

.home-head  {
	position: absolute;
	color: #FAEBE0;
	top: 10%;
	left: 35%;
	font-size: 70px;
	margin-bottom: 0; 
	font-family: 'Playfair Display', serif;
}

.slogan {
	position: absolute;
	font-size: 20px;
	margin-top: 0;
	top: 40%;
	left: 43%;
	color: #fff;
	font-family: 'Courgette', cursive;
}

#test-head{
	text-align: center;
	font-size: 30px;
	margin-top: 6%;
	color: #045063;
}

.testimonials{
	display: flex;
	justify-content: space-evenly;
	text-align: center;	
		
}

.test-box{
	margin-top: 10px;
	width: 30%;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFBCBC;
	padding: 15px;
	border-radius: 5px;
	margin-bottom: 25px;
	color: #03506f;
}

/* The product page/section and contents below this line */

.products-head {
	position: absolute;
	color: #03506f;
	top: 35%;
	left: 40%;
	padding: 50px;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
}

.category {
	text-align: center;
	font-size: 26px;
	font-family: 'Montserrat', sans-serif;
	color: #045063;
}

.content li {
	margin-left: 20px;
}

.product-area {
	width: 90%;
	padding: 20px;
	margin: 100px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.box {
	width: 280px;
	height: 260px;
	margin: 0 15px;
	border-radius: 7px;
	box-shadow: 0 2px 5px 0 rgb(19, 18, 18);
}

.box img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 7px;
}


hr {
	border-bottom: 5px dotted #03506f;
	width: 5%;
	border-top: none;	
}

.product-box {
	text-align: center;
	color: #045063;
	margin: 20px;
	display: grid;
	width: 90%;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 15px;
	font-size: 18px;
	margin: 30px auto 0 auto;
}

.grid-box {
	height: 350px;
}

.grid-box img {
	width: 70%;
	height: 60%;
	border-radius: 5px;
	border: 1px solid #9F5F80;
	box-shadow: 0 2px 1px 0 rgb(19, 18, 18);
}

.caption1 {
	position: absolute;
	left: 110px;
	bottom: -390px;
	background-color: #fff;
	color: #000;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 5px;
}

.caption2 {
	position: absolute;
	left: 390px;
	bottom: -390px;
	background-color: #fff;
	color: #000;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 5px;
}

.caption3 {
	position: absolute;
	left: 600px;
	bottom: -390px;
	background-color: #fff;
	color: #000;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 5px;
}

.caption4 {
	position: absolute;
	right: 370px;
	bottom: -390px;
	background-color: #fff;
	color: #000;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 5px;
}

.caption5 {
	position: absolute;
	right: 145px;
	bottom: -390px;
	background-color: #fff;
	color: #000;
	border-radius: 3px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding: 5px;
}

/* The about page contents below this line */

.about-heading {
	position: absolute;
	color: #03506f;
	top: 35%;
	left: 12%;
	font-family: 'Montserrat', sans-serif;
	font-size: 45px;
}

.about-container {
	margin: 50px 100px;
	display: grid;
	width: 80%;
	grid-template-columns: 1.2fr 1.8fr;
	grid-template-rows: 1fr;
}

.col-right {
	padding-right: 50px;
	height: 92%;
	padding-top: 25px;
	margin-left: 30px;
}

/* The contact page contents and links below this line*/

.contact-us-head {
	position: absolute;
	color: #03506f;
	top: 30%;
	left: 20%;
	padding:40px;
	font-family: 'Montserrat', sans-serif;
	font-size: 40px;
}

.contact-wrapper {
    display: grid;
    width: 70%;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
    margin: 20px auto;
	border-radius: 7px;
	background-color: #f5bcb9;
	box-shadow: 0 2px 5px 0 #03506f;
	font-size: 18px;
}

.wrapper-box {
  padding: 20px;
  text-align: center;
}

.wrapper-box a {
    text-decoration: none;
    color: #03596f;
}

.wrapper-box form {
	width: 350px;
    border-radius: 5px;
	background-color: #d3e0ea;
	top: 50%;
	left: 50%;
	margin: auto;
}

.contact-info {
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #03596f;
	padding-left: 20px;
}

.input-text {
	margin-top: 20px;
	padding: 5px;
	border: 1px dashed #03596f;
    border-radius: 5px;
}

.textarea-part {
    width: 170px;
	height: 100px;
	padding-top: 10px;
}

.send-btn {
    width: 100px;
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 10px;
	border: none;
	color: white;
	background-color: #03596f;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}
	
/* The footer section styling below this line*/

.foot{
	background-color: #03506f;
	color: #fff;
}

footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.footer-column a{
	text-decoration: none;
	color: #fff;
}

.socials{
	text-align: center;
	margin: 20px 0;
	padding-top: 30px;
	
}

.socials a{
	margin-left: 50px;
	
}

.copyright{
	text-align: center;
	padding: 20px;
	background-color: #046582;
}


/* The contact links to the company are below this line */

span {
	margin: 5px;
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}

.fab {
	font-size: 25px;
	margin: 5px;
}

.fas {
	font-size: 20px;
	margin: 5px;
}

.far {
	font-size: 20px;
	margin: 5px;
}

.fa-envelope {
	font-size: 25px;
	margin: 5px;
	color: white;
}

.fa-instagram-square {
	color: #CE1F6A;
}

.fa-twitter {
	color: #bcddf5;
}

.fa-user-circle {
	margin-left: 120px;
}

/* Quick links styling below this line */

.info {
	width: 80%;
	margin: 10% auto;
	color: #9F5F80;
}