/* The body, contents and headings for every page below this line */

body { 
    background-color: #ffe3de;
}

.content {
	font-family: 'Dosis', sans-serif;
	font-size: 20px;
	color: #03596f;
	border-left: 7px solid #03506f;
	padding-left: 10px;
}

.description {
	text-align: center;
}

.headers {
	font-size: 45px;
	font-family: 'Gelasio', serif;
	text-align: center;
	color: #03506f;
}

/* The nagivation menu/bar styling below this line */

.menu {
	list-style-type: none;
	margin-top: 25px;
	margin-bottom: 25px;
	height: 80px;
}


.menu img {
    position: relative;
    top: 40px;
    margin-right: 50%;
    border: 2px solid #03506f;
    border-radius: 100px;
    margin-bottom: 10px;
    margin-top: -50px;
}

.menu li {
	display: inline-block;
}

.menu li a {
	text-decoration: none;
	color: #0a043c;
	font-size: 20px;
	font-family: 'Nunito', sans-serif;
	margin-left: 10px;
	margin-right: 10px;
}

.menu li a:hover {
	background-color: FloralWhite;
	color: LightPink;
} 

/* The home page contents below this line */

.banner {
	position: relative;
}

.banner img {
	width: 100%;
	height: auto;
}

.home-head  {
	position: absolute;
	color: #03506f;
	top: 10%;
	left: 10%;
	font-size: 70px;
	font-family: 'Lobster Two', cursive;
	margin-bottom: 0; 
}

.slogan {
	position: absolute;
	font-size: 20px;
	margin-top: 0;
	top: 210px;
	left: 200px;
}

/* The product page/section and contents below this line */

.products-head {
	position: absolute;
	color: #03506f;
	top: 35%;
	left: 40%;
	padding: 50px;
}

.category {
	text-align: center;
	font-size: 26px;
	font-family: 'Gelasio', serif;
}

.product-area {
	width: 90%;
	padding: 20px;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.box {
	width: 280px;
	height: 270px;
	margin: 0 15px;
}

.box img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

hr {
	border-bottom: 5px dotted #03506f;
	width: 5%;
	border-top: none;	
}

.product-area figure {
	display: inline-flex;
	flex-direction: column;
	text-align: center;
	margin: 40px;
}

.product-box {
	width: 100%;
	display: float;
}

/* The about page contents below this line */

.about-heading {
	position: absolute;
	color: #03506f;
	top: 35%;
	left: 7%;
}

.about-container {
	margin: 50px;
	display: grid;
	width: 100%;
	grid-template-columns: 1.2fr 1.8fr;
	grid-template-rows: 1fr;
}

.col-right {
	padding-right: 100px;
	height: 92%;
	font-size: 20px;
	padding-top: 25px;
}

/* The contact page contents and links below this line*/

.contact-us-head {
	position: absolute;
	color: #03506f;
	top: 20%;
	left: 20%;
	padding:40px;
}

.contact-links {
	text-align: center;
	font-size: 20px;
	font-family: 'Rokkitt', serif;
}

form {
	margin: 30px;
}

.contact-form {
	width: 500px;
	background-color: #d3e0ea;
	top: 50%;
	left: 50%;
	margin: auto;
}

.input-text {
	margin-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px dashed #03596f;
}

.textarea-part {
	height: 150px;
	padding-top: 10px;
}

.send-btn {
	padding: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 15px;
	border: none;
	color: white;
	background-color: #03596f;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
}
	

/* The footer section styling below this line*/

.footer {
  position: float;
  padding: 10px 0px 0px 0px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0a043c;
  color: white;
  font-family: 'Nunito', sans-serif;
}

.footer-content {
	display: flex;
}

.footer-columns {
	padding: 10px;
	display: inline-block;
	justify-content: space-evenly;
	margin-left: 50px;	
}

.quick-links {
	text-decoration: none;
	color: white;
	font-size: 15px;
	font-family: 'Nunito', sans-serif;
}

.copyright {
	margin-top: 0;
	padding-bottom: 10px;
	background-color: #0a043c;
	color: white;
	text-align: center;
	font-family: 'Nunito', sans-serif;
}

/* The contact links to the company are below this line */

span {
	margin: 5px;
	font-size: 15px;
	font-family: 'Nunito', sans-serif;
}

.fab {
	font-size: 25px;
	margin: 5px;
}

.fas {
	font-size: 20px;
	margin: 5px;
}

.far {
	font-size: 20px;
	margin: 5px;
}

.fa-envelope {
	font-size: 20px;
	margin: 5px;
	color: white;
}

.fa-instagram-square {
	color: #c25299;
}

.fa-twitter {
	color: skyblue;
}

.fa-user-circle {
	margin-left: 120px;
}
